
<div class="more-info">
    <div class="container">
        <div class="section-heading">
            <h2>Đọc Blog</h2>
            <span>Tham khảo Blog của chúng tôi</span>
        </div>

        <div class="row" id="tabs">
            <div class="col-md-4">
                <ul>
                    <li><a href='#tabs-1'>Công bố OPPO Reno5 Z, điện thoại thông minh 5G được trang bị camera bốn <br> <small>Tuấn Anh &nbsp;|&nbsp; April 07, 2021</small></a></li>
                    <li><a href='#tabs-2'>Công bố phiên bản tối cao của điện thoại thông minh 5G Realme X7 Pro được trang bị ba camera<br> <small>Hoàng Thảo &nbsp;|&nbsp; April 09, 2021</small></a></li>
                    <li><a href='#tabs-3'>Giới thiệu điện thoại thông minh 5G Vivo S9e với Mật độ 820<br> <small>Mai Phú &nbsp;|&nbsp; April 02, 2021 </small></a></li>
                    <li><a href='#tabs-4'>Thiết bị Honor công bố máy tính bảng đầu tiên HONOR Pad 7<br> <small>Giang Sơn &nbsp;|&nbsp; April 10, 2021 </small></a></li>
                </ul>

                <br>

                <div class="text-center">
                    <a href='@Url.Action("Blog", "Home")' class="filled-button">Read More</a>
                </div>

                <br>
            </div>

            <div class="col-md-8">
                <section class='tabs-content'>
                    <article id='tabs-1'>
                        <img src="~/Content/images/Blog_01.jpg" class="img-fluid" alt="">
                        <h4><a href='@Url.Action("BlogDetail", "Home")'>Công bố OPPO Reno5 Z, điện thoại thông minh 5G được trang bị camera bốn </a></h4>
                        <p>
                            Viễn thông di động OPPO Quảng Đông của Trung Quốc đã công bố thiết bị đầu cuối NR / LTE / W-CDMA / GSM "OPPO Reno5 Z (CPH2211)".

                            Nó là một điện thoại thông minh tầm trung tương thích với hệ thống thông tin di động thế hệ thứ 5 (5G).

                            ColorOS 11.1 dựa trên Android 11 được sử dụng làm hệ điều hành.

                            Chipset là MediaTek Dimensity 800U hỗ trợ 64bit và CPU là tám lõi.

                            Màn hình được trang bị AMOLED 6,43 inch FHD + (1080 * 2400).

                            Máy ảnh bao gồm cảm biến hình ảnh CMOS chính khoảng 48 triệu điểm ảnh, một máy ảnh góc cực rộng cảm biến hình ảnh CMOS khoảng 8 triệu điểm ảnh, cảm biến hình ảnh CMOS macro khoảng 2 triệu điểm ảnh và cảm biến đơn sắc cảm biến hình ảnh CMOS khoảng 2 triệu điểm ảnh . Nó được trang bị một camera quad và cảm biến hình ảnh CMOS với khoảng 16 triệu điểm ảnh ở mặt trước.
                        </p>
                    </article>
                    <article id='tabs-2'>
                        <img src="~/Content/images/Blog_02.jpg" alt="">
                        <h4><a href='@Url.Action("BlogDetail", "Home")'>Công bố phiên bản tối cao của điện thoại thông minh 5G Realme X7 Pro được trang bị ba camera</a></h4>
                        <p>
                            RealMe Chongqing Mobile Telecommunications của Trung Quốc đã công bố thiết bị đầu cuối NR / LTE / W-CDMA / CDMA2000 / GSM "realme X7 Pro Supreme Edition".

                            Nó là điện thoại thông minh tương thích với hệ thống thông tin di động thế hệ thứ 5 (5G).

                            Realme UI 2.0 dựa trên Android 11 được sử dụng làm hệ điều hành.

                            Chipset được trang bị MediaTek Dimensity 1000+ hỗ trợ 64 bit và CPU là một lõi tám.

                            Màn hình sẽ có kích thước khoảng 6,55 inch FHD + (1080 * 2400) AMOLED với tốc độ làm tươi lên đến 90Hz.
                        </p>
                    </article>
                    <article id='tabs-3'>
                        <img src="~/Content/images/Blog_03.jpg" alt="">
                        <h4><a href='@Url.Action("BlogDetail", "Home")'>Giới thiệu điện thoại thông minh 5G Vivo S9e với Mật độ 820</a></h4>
                        <p>
                            Thông tin di động vivo của Trung Quốc đã công bố thiết bị đầu cuối NR / LTE / W-CDMA / CDMA2000 / GSM "vivo S9e (V2048A)".

                            Nó là điện thoại thông minh tương thích với hệ thống thông tin di động thế hệ thứ 5 (5G).

                            OriginOS 1.0, dựa trên Android 11, sẽ được sử dụng làm hệ điều hành.

                            Chipset được trang bị MediaTek Dimensity 820 hỗ trợ 64 bit.

                            CPU là một lõi tám và tần số hoạt động bao gồm lõi tứ với tốc độ tối đa là 2,6 GHz và lõi tứ với tốc độ tối đa là 2,0 GHz.

                            Màn hình có kích thước khoảng 6,44 inch FHD + (1080 * 2404) AMOLED với tốc độ làm mới lên đến 90Hz.
                        </p>
                    </article>
                    <article id='tabs-3'>
                        <img src="~/Content/images/Blog_04.jpg" alt="">
                        <h4><a href='@Url.Action("BlogDetail", "Home")'>Thiết bị Honor công bố máy tính bảng đầu tiên HONOR Pad 7</a></h4>
                        <p>
                            Thiết bị danh dự của Trung Quốc đã công bố thiết bị đầu cuối LTE / W-CDMA / CDMA2000 / GSM "HONOR Pad 7".

                            Nó là một máy tính bảng sử dụng Magic UI 4.0, dựa trên Android 10 làm hệ điều hành.

                            Chipset được trang bị MediaTek MT8786.

                            CPU là một lõi tám và tần số hoạt động bao gồm lõi kép với tối đa 2,0 GHz và lõi sáu với tối đa 1,8 GHz.

                            Màn hình được trang bị tinh thể lỏng IPS kích thước 10,1 inch WUXGA (1920 * 1200) và mật độ điểm ảnh là 224 ppi.
                        </p>
                    </article>
                </section>
            </div>
        </div>


    </div>
</div>