@model MobileStore.Models.Entity.Product

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productSale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productSale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productInfor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productInfor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productIntroduce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productIntroduce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
