<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Cellular</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/Admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/Admin/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Content/Admin/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/css/owl.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- Header -->
    <!-- Header -->
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="left-info row">
                        <li class="col-lg-6"><a href="https://mail.google.com/"><i class="fa fa-envelope"></i>abc@gmail.com</a></li>
                        <li class="col-lg-6"><a href="#"><i class="fa fa-phone"></i>0967.666.888</a></li>
                    </ul>
                </div>
                <div class="col-md-4" style="float: right">
                    <ul>
                        <li>
                                @using (Html.BeginForm("SearchProduct", "Ajax"))
                                {
                                    @Html.TextBox("Search", "", htmlAttributes: new { @class = "TextBoxSearch", @placeholder = "Tìm Kiếm" });
                                    <input type="submit" value="Search" />
                                }
                        </li>
                    </ul>
                </div>
                <div class="col-md-4" id="txtTimKiem">
                    <ul class="right-icons">
                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="@Url.Action("Logout", "AdminPage")"> Logout</a></li>
                    </ul>
                    
                </div>
            </div>

        </div>

    </div>
    
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href='@Url.Action(" Index", "Home")'><h2>Smart Cellular</h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto" style="line-height: 70px;">
                        <li class="nav-item">
                            <a class="nav-link" href='@Url.Action("Index", "Home")'>
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        @Html.Action("LoadTypeProduct", "Ajax")
                        <li class="nav-item">
                            <a class="nav-link" href='@Url.Action("Checkout", "Checkout")'>Checkout</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href='@Url.Action("About", "About")'>About Us</a>
                                <a class="dropdown-item" href='@Url.Action("Blog", "Blog")'>Blog</a>
                                <a class="dropdown-item" href='@Url.Action("Testimonials", "Testimonials")'>Testimonials</a>
                                <a class="dropdown-item" href='@Url.Action("Terms", "Terms")'>Terms</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='@Url.Action("Contact", "Contact")'>Contact Us</a>
                        </li>
                        <li class="nav-item">
                            @{Html.RenderAction("GetNumber", "Cart");}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        @RenderBody();
    </div>
    <!-- Banner Ends Here -->



    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        Design by: Smart Cellular
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="~/Content/js/custom.js"></script>
    <script src="~/Content/js/owl.js"></script>
    <script src="~/Content/js/slick.js"></script>
    <script src="~/Content/js/accordions.js"></script>

    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t) {                   //declaring the array outside of the
            if (!cleared[t.id]) {                      // function makes it static and global
                cleared[t.id] = 1;  // you could use true and false, but that's more typing
                t.value = '';         // with more chance of typos
                t.style.color = '#fff';
            }
        }
    </script>
    <script type="text/javascript">
        $("li").click(function (e) {
            var catid = $(this).attr("id");


            $.ajax({
                url: '/ Product/LoadAllProduct',
                data: { "id": catid },
                success: function (response) {
                    $('#result').html(response);
                }
            });
        });

    </script>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("updateCarts", required: false)
</body>
</html>

